stepfunctions/stepfunction_definition.json
{
  "Comment": "BC \u2192 HubSpot Sync Flow (robust)",
  "StartAt": "ContactSync",
  "States": {
    "ContactSync": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "bc-2-hs-contact-sync",
        "Payload.$": "$"
      },
      "ResultSelector": {
        "raw.$": "$.Payload",
        "parsedBody.$": "States.StringToJson($.Payload.body)"
      },
      "ResultPath": "$.contact",
      "Next": "CheckContact"
    },
    "CheckContact": {
      "Type": "Choice",
      "Choices": [
        {
          "Or": [
            {
              "And": [
                {
                  "Variable": "$.contact.raw.results_completed",
                  "BooleanEquals": true
                },
                {
                  "Or": [
                    {
                      "Variable": "$.contact.raw.statusCode",
                      "NumericEquals": 200
                    },
                    {
                      "Variable": "$.contact.raw.statusCode",
                      "IsPresent": false
                    }
                  ]
                }
              ]
            },
            {
              "And": [
                {
                  "Variable": "$.contact.parsedBody.results_completed",
                  "BooleanEquals": true
                },
                {
                  "Variable": "$.contact.parsedBody.statusCode",
                  "NumericEquals": 200
                }
              ]
            }
          ],
          "Next": "CompanySync"
        }
      ],
      "Default": "WaitContact"
    },
    "WaitContact": {
      "Type": "Wait",
      "Seconds": 3,
      "Next": "ContactSync"
    },
    "CompanySync": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "bc-2-hs-company-sync",
        "Payload.$": "$"
      },
      "ResultSelector": {
        "raw.$": "$.Payload",
        "parsedBody.$": "States.StringToJson($.Payload.body)"
      },
      "ResultPath": "$.company",
      "Next": "CheckCompany"
    },
    "CheckCompany": {
      "Type": "Choice",
      "Choices": [
        {
          "Or": [
            {
              "And": [
                {
                  "Variable": "$.company.raw.results_completed",
                  "BooleanEquals": true
                },
                {
                  "Or": [
                    {
                      "Variable": "$.company.raw.statusCode",
                      "NumericEquals": 200
                    },
                    {
                      "Variable": "$.company.raw.statusCode",
                      "IsPresent": false
                    }
                  ]
                }
              ]
            },
            {
              "And": [
                {
                  "Variable": "$.company.parsedBody.results_completed",
                  "BooleanEquals": true
                },
                {
                  "Variable": "$.company.parsedBody.statusCode",
                  "NumericEquals": 200
                }
              ]
            }
          ],
          "Next": "DealSync"
        }
      ],
      "Default": "WaitCompany"
    },
    "WaitCompany": {
      "Type": "Wait",
      "Seconds": 3,
      "Next": "CompanySync"
    },
    "DealSync": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "bc-2-hs-deal-sync",
        "Payload.$": "$"
      },
      "ResultSelector": {
        "raw.$": "$.Payload",
        "parsedBody.$": "States.StringToJson($.Payload.body)"
      },
      "ResultPath": "$.deal",
      "Next": "CheckDeal"
    },
    "CheckDeal": {
      "Type": "Choice",
      "Choices": [
        {
          "Or": [
            {
              "And": [
                {
                  "Variable": "$.deal.raw.results_completed",
                  "BooleanEquals": true
                },
                {
                  "Or": [
                    {
                      "Variable": "$.deal.raw.statusCode",
                      "NumericEquals": 200
                    },
                    {
                      "Variable": "$.deal.raw.statusCode",
                      "IsPresent": false
                    }
                  ]
                }
              ]
            },
            {
              "And": [
                {
                  "Variable": "$.deal.parsedBody.results_completed",
                  "BooleanEquals": true
                },
                {
                  "Variable": "$.deal.parsedBody.statusCode",
                  "NumericEquals": 200
                }
              ]
            }
          ],
          "Next": "ContactCompanyAssoc"
        }
      ],
      "Default": "WaitDeal"
    },
    "WaitDeal": {
      "Type": "Wait",
      "Seconds": 3,
      "Next": "DealSync"
    },
    "ContactCompanyAssoc": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "hs-contact-company-associations",
        "Payload.$": "$"
      },
      "ResultSelector": {
        "raw.$": "$.Payload",
        "parsedBody.$": "States.StringToJson($.Payload.body)"
      },
      "ResultPath": "$.assoc1",
      "Next": "CheckAssoc1"
    },
    "CheckAssoc1": {
      "Type": "Choice",
      "Choices": [
        {
          "Or": [
            {
              "And": [
                {
                  "Variable": "$.assoc1.raw.results_completed",
                  "BooleanEquals": true
                },
                {
                  "Or": [
                    {
                      "Variable": "$.assoc1.raw.statusCode",
                      "NumericEquals": 200
                    },
                    {
                      "Variable": "$.assoc1.raw.statusCode",
                      "IsPresent": false
                    }
                  ]
                }
              ]
            },
            {
              "And": [
                {
                  "Variable": "$.assoc1.parsedBody.results_completed",
                  "BooleanEquals": true
                },
                {
                  "Variable": "$.assoc1.parsedBody.statusCode",
                  "NumericEquals": 200
                }
              ]
            }
          ],
          "Next": "DealCompanyAssoc"
        }
      ],
      "Default": "WaitAssoc1"
    },
    "WaitAssoc1": {
      "Type": "Wait",
      "Seconds": 3,
      "Next": "ContactCompanyAssoc"
    },
    "DealCompanyAssoc": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "hs-deal-company-associations",
        "Payload.$": "$"
      },
      "ResultSelector": {
        "raw.$": "$.Payload",
        "parsedBody.$": "States.StringToJson($.Payload.body)"
      },
      "ResultPath": "$.assoc2",
      "Next": "CheckAssoc2"
    },
    "CheckAssoc2": {
      "Type": "Choice",
      "Choices": [
        {
          "Or": [
            {
              "And": [
                {
                  "Variable": "$.assoc2.raw.results_completed",
                  "BooleanEquals": true
                },
                {
                  "Or": [
                    {
                      "Variable": "$.assoc2.raw.statusCode",
                      "NumericEquals": 200
                    },
                    {
                      "Variable": "$.assoc2.raw.statusCode",
                      "IsPresent": false
                    }
                  ]
                }
              ]
            },
            {
              "And": [
                {
                  "Variable": "$.assoc2.parsedBody.results_completed",
                  "BooleanEquals": true
                },
                {
                  "Variable": "$.assoc2.parsedBody.statusCode",
                  "NumericEquals": 200
                }
              ]
            }
          ],
          "Next": "ProductSync"
        }
      ],
      "Default": "WaitAssoc2"
    },
    "WaitAssoc2": {
      "Type": "Wait",
      "Seconds": 3,
      "Next": "DealCompanyAssoc"
    },

    "ProductSync": {
  "Type": "Task",
  "Resource": "arn:aws:states:::lambda:invoke",
  "Parameters": {
    "FunctionName": "bc-2-hs-product-sync",
    "Payload.$": "$"
  },
  "ResultSelector": {
    "raw.$": "$.Payload",
    "parsedBody.$": "States.StringToJson($.Payload.body)"
  },
  "ResultPath": "$.products",
  "Next": "CheckProducts"
},
"CheckProducts": {
  "Type": "Choice",
  "Choices": [
    {
      "Or": [
        {
          "And": [
            {
              "Variable": "$.products.raw.results_completed",
              "BooleanEquals": true
            },
            {
              "Or": [
                {
                  "Variable": "$.products.raw.statusCode",
                  "NumericEquals": 200
                },
                {
                  "Variable": "$.products.raw.statusCode",
                  "IsPresent": false
                }
              ]
            }
          ]
        },
        {
          "And": [
            {
              "Variable": "$.products.parsedBody.results_completed",
              "BooleanEquals": true
            },
            {
              "Variable": "$.products.parsedBody.statusCode",
              "NumericEquals": 200
            }
          ]
        }
      ],
      "Next": "Success"
    }
  ],
  "Default": "Waitproducts"
},
"Waitproducts": {
  "Type": "Wait",
  "Seconds": 3,
  "Next": "ProductSync"
},


    "Success": {
      "Type": "Succeed"
    }
  }
}